/* index.css
    contains styling modifications specific to index.html */

/* Style the left column */
.left_col {
    font-size: 18px;
    flex: 40%;
    padding: 20px;
}

/* Style the right column */
.right_col {
    font-size: 18px;
    flex: 60%;
    padding: 20px;
    padding-right: 150px;
}