body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.header {
    padding: 50px;
    text-align: center;
    background: #aeefff;
}

.header h1 {
    font-size: 40px;
    color: #333333
}

.header h3 {
    font-size: 20px;
    color: #646464
}

.navbar {
    overflow: hidden;
    background-color: dimgray;
}

.navbar a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 15px 15px;
    text-decoration: none;
}

.navbar a.right {
    float: right;
}

.navbar a:hover {
    background-color: white;
    color: dimgray;
}

.content {
    font-size: 15px;
    text-align: center;
    background: #d2e7ec;
    padding: 20px
}

.content h4 {
    font-size: 18px;
}

/*
.content img.image {
    text-align: left;
}
*/

