/*  styles.css
    contains all styling modifications */

* {
    box-sizing: border-box;
}

html {
    background-color: #e9fbff;  /* color for whole page */
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* styling function for th eheader */
.header {
    padding: 50px;
    text-align: center;
    background: #aeefff;
}

.header h1 {
    font-size: 40px;
    color: #333333
}

.header h3 {
    font-size: 20px;
    color: #646464
}

/* styling for navigation bar underneaht header */
.navbar {
    overflow: hidden;
    background-color: dimgray;
}

.navbar a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 15px 15px;
    text-decoration: none;
}

.navbar a.right {
    float: right;
}

.navbar a:hover {
    background-color: white;
    color: dimgray;
}

/* styling for content of each page */
.content {
    font-size: 15px;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
}

.content h4 {
    font-size: 18px;
}

/* Style the left column */
.left_col {
    flex: 30%;
    background-color: #cedadf;
    padding: 20px;
}

/* Style the right column */
.right_col {
    flex: 70%;
    padding: 20px
}

@media screen and (max-width: 700px) {
    .content {
        flex-direction: column;
    }
}

@media screen and (max-width: 400px) {
    .navbar a {
        float: none;
        width: 100%;
    }
}

/* style for footer */
.footer {
    background-color: #aeefff;
    text-align: center;
    padding-top: .5rem;
}

.footer a {
    float: none;
    padding: 10px;
}

#page-container {
    position: relative;
    min-height: 100vh;
}

#conten-wrap {
    padding-bottom: 3rem /* footer height */
}

#footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 3rem;
}