/* 
about.css
css for the about.html
*/

#description {
    width: 30%;
    align-items: center;
    justify-content: center;
}

#resume {
    width: 70%;
    align-items: center;
    text-align: center;
    justify-content: left;
}

/* adjustments for narrow screens */
@media screen and (max-width: 1600px) {
    #content {
        flex-direction: column;
    }

    #description {
        width: auto;
    }
}