/* index.css
    contains styling modifications specific to index.html */

body {
    overflow-x: hidden;
}

#page {
    background-image: url(../images/sunset_background.png);
    background-color: lightblue;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    padding-bottom: 15vh;
}

#header {
    text-align: center;
}

#first_view {
    height: 96vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

#header h1 {
    font-size: 100px;
    color: #000000;
    padding-bottom: 20px;
}

#header h2 {
    font-size: 30px;
    color: #363636;
    padding-bottom: 30px;
}

#socials {
    display: flex;
    flex-direction: row;
    align-self: center;
    padding-bottom: 30px;
}

#socials a {
    padding: 20px;
}

#socials img {
    width: 50px;
    height: 50px;
}

#extra {
    display: flex;
    flex-direction: column;
    align-self: center;
    width: 60vw;
    background-color: rgba(255, 255, 255, 0.6);
    padding: 30px;
    margin-top: 10vh;
    z-index: 1;
}

.bird {
    animation-name: bird;
    animation-duration: 20s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    position: absolute;
    width: 50px;
    left: -10vw;
    z-index: 0;
}

#bird1 {
    animation-delay: 0s;
    top: 100px;
}

#bird2 {
    animation-delay: 6s;
    top: 350px;
}

#bird3 {
    animation-delay: 12s;
    top: 600px;
}

#bird4 {
    animation-delay: 3s;
    top: 850px;
}

#bird5 {
    animation-delay: 9s;
    top: 1100px;
}

#bird6 {
    animation-delay: 15s;
    top: 1350px;
}

#jsBird {
    position: absolute;
    width: 50px;
}


@keyframes bird {
    0% {
        left: -10vw;
    }
    49% {
        transform: scaleX(1);
    }
    50% {
        left: 100vw;
        transform: scaleX(-1);
    }
    99% {
        transform: scaleX(-1);
    }
    100% {
        left: -10vw;
        transform: scaleX(1);
    }
}

@media screen and (max-width: 800px) {
    #extra {
        width: 85vw;
    }
}