/* projects.css
    contains styling modifications specific to projects.html */

#selfDriveDesigns {
    width: 90%;
    align-self: center;
    padding: 30px;
    background-color: grey;
}

#logos {
    align-self: center;
    margin-bottom: 10px;
}

#logos img {
    padding-left: 2vw;
    padding-right: 2vw;
    height: 20vh;
    width: auto;
}

#p5 {
    align-self: center;
    width: min-content;
}
