/* projects.css
    contains styling modifications specific to projects.html */

#item {
    align-self: center;
    padding: 30px;
    background-color: white;
    margin: 20px;
    max-width: 100%;
    height: auto;
    overflow: auto;
}

#logos {
    align-self: center;
    margin-bottom: 10px;
    max-width: 100%;
    height: auto;
    overflow: auto;
}

#logos img {
    padding-left: 2vw;
    padding-right: 2vw;
    height: 20vh;
    width: auto;
}

#p5Examples {
    align-self: center;
    width: min-content;
    margin-left: 2vw;
    margin-right: 2vw;
}
